/include/ "system-conf.dtsi"
/ {

   /* WILC3000 module: release RESETN on kernel boot */  
   sdhci1_pwrseq: sdhci1_pwrseq {
      compatible = "mmc-pwrseq-simple";
      /* reset-gpios = <&gpio 7 1>;  // MIO[7] for RESETN, Active low, JT5 strapped to pins 2-3 */
      reset-gpios = <&gpio 78 1>;  // device pin A3 for RESETN, Active low, JT5 strapped to pins 1-2
      post-power-on-delay-ms = <10>;
   };

	aliases {
		i2c0 = &i2c1;
	};

};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1_default>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	scl-gpios = <&gpio 4 0>;
	sda-gpios = <&gpio 5 0>;

	i2cswitch@75 { /* U7 on Ultra96-V2 */
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x75>;
		i2c@0 { /* i2c mw 75 0 1 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
         /* LS MEZZ I2C0 */
      };
		i2c@1 { /* i2c mw 75 0 2 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
         /* LS MEZZ I2C1 */
      };
		i2c@2 { /* i2c mw 75 0 4 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
         /* HS MEZZ I2C2 */
      };
		i2c@3 { /* i2c mw 75 0 8 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
         /* HS MEZZ I2C3 */
      };
		i2c@4 { /* i2c mw 75 0 10 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
			/* PMBus PMIC */
			irps5401_13: irps5401@13 { /* U11 on Ultra96-V2 */
            /* #clock-cells = <0>; */
				compatible = "infineon,irps5401";
				reg = <0x13>;
			};

			/* PMBus PMIC */
			irps5401_14: irps5401@14 { /* U12 on Ultra96-V2 */
            /* #clock-cells = <0>; */
				compatible = "infineon,irps5401";
				reg = <0x14>;
			};

			/* PMBus PMIC */
			ir38060_15: ir38060@15 { /* U21 on Ultra96-V2 */
            /* #clock-cells = <0>; */
				compatible = "infineon,ir38060";
				reg = <0x15>;
			};
		};
	};
};

&pinctrl0 {
	status = "okay";
	pinctrl_i2c1_default: i2c1-default {
		mux {
			groups = "i2c1_1_grp";
			function = "i2c1";
		};

		conf {
			groups = "i2c1_1_grp";
			bias-pull-up;
			slew-rate = <1>;
			io-standard = <1>;
		};
	};

	pinctrl_i2c1_gpio: i2c1-gpio {
		mux {
			groups = "gpio0_4_grp", "gpio0_5_grp";
			function = "gpio0";
		};

		conf {
			groups = "gpio0_4_grp", "gpio0_5_grp";
			slew-rate = <1>;
			io-standard = <1>;
		};
	};
};

&sdhci1 {
   status = "okay";
   bus-width= <4>;
   max-frequency = <50000000>;
   broken-cd;
   mmc-pwrseq = <&sdhci1_pwrseq>;
};

&usb0 {
   status = "okay";
};

&dwc3_0 {
   status = "okay";
   dr_mode = "peripheral";
   phy-names = "usb3-phy";
	phys = <&lane2 4 0 0 26000000>;
	maximum-speed = "super-speed";   
};

&usb1 {
   status = "okay";
};

&dwc3_1 {
   status = "okay";
	dr_mode = "host";
	phy-names = "usb3-phy";
	phys = <&lane3 4 1 0 26000000>;
	maximum-speed = "super-speed";
};
